<md-dialog>
   <form name="addpieceform" novalidate>
      <md-dialog-content style="padding: 20px 20px 0px 20px" layout="column">
         <md-input-container class="md-block">
            <label>Libellé</label>
            <input ng-required="true" ng-model="prod.desc">
         </md-input-container>
         <div layout="row" flex>
            <div class="dialog-form-column" layout="column" flex="50">
               <md-input-container class="md-block">
                  <label>Prix</label>
                  <md-icon>euro_symbol</md-icon>
                  <input name="prix" ng-required="true" type="number" ng-model="prod.prix">
               </md-input-container>
               <md-input-container class="radio-group-container md-block md-input-has-value">
               <label>Collection</label>
               <md-radio-group ng-required="true" ng-model="prod.collection">
                  <md-radio-button value="Printemps/Eté">Printemps/Eté</md-radio-button>
                  <md-radio-button value="Automne/Hiver">Automne/Hiver</md-radio-button>
               </md-radio-group>
            </md-input-container>
            <md-input-container class="md-block">
               <label>Matière</label>
               <input ng-required="true" name="matiere" ng-model="prod.matiere">
            </md-input-container>
            </div>
            <div class="dialog-form-column" layout="column" flex="50">
               <md-input-container style="margin-right: 10px; margin-bottom: 24px" class="md-block">
                  <label>Catégorie</label>
                  <md-select ng-required="true" ng-model="prod.categorie">
                     <md-option ng-repeat="(i,item) in categories" value="{{item}}" ng-selected="i == 0 ? true:false">{{item}}</md-option>
                  </md-select>
               </md-input-container>
               <md-input-container class="radio-group-container md-block md-input-has-value">
                  <label>Taille</label>
               <md-radio-group ng-required="true" ng-model="prod.taille">
                  <md-radio-button ng-checked="true" value="Enfant">Enfant</md-radio-button>
                  <md-radio-button value="Adulte">Adulte</md-radio-button>
               </md-radio-group>
            </md-input-container>
               <md-input-container ng-if="prod.taille == 'Enfant'" style="margin-right: 10px;">
                  <label>Détail taille</label>
                  <md-select ng-required="true" ng-model="prod.d_taille">
                     <md-option ng-repeat="(i,item) in tailles_enfant" value="{{item}}" ng-selected="i == 0 ? true:false">{{item}}</md-option>
                  </md-select>
               </md-input-container>
               <md-input-container ng-if="prod.taille == 'Adulte'" style="margin-right: 10px;">
                  <label>Détail taille</label>
                  <md-select ng-required="true" ng-model="prod.d_taille">
                     <md-option ng-repeat="(i,item) in tailles_adulte" value="{{item}}" ng-selected="i == 0 ? true:false">{{item}}</md-option>
                  </md-select>
               </md-input-container>

            </div>

         </div>
         <div layout="row" flex>
<md-input-container class="md-block" style="margin-right: 10px">
            <md-checkbox flex ng-model="prod.commande" class="reverse-checkbox">
               Commande
            </md-checkbox>
         </md-input-container>
            <md-input-container class="md-block">
               <label>Destinataire</label>
               <input ng-disabled="!prod.commande" name="dest" ng-model="prod.dest">
            </md-input-container>
         </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
         <span flex></span>
         <md-button type="submit" ng-click="addpieceform.$valid && answer(prod)" >
            Ok
         </md-button>
         <md-button ng-click="cancel()" style="margin-right:20px;" >
            Annuler
         </md-button>
      </md-dialog-actions>
   </form>
</md-dialog>
