<md-toolbar id="custom-toolbar-draggable" layout="row" layout-align="end center">
   <md-button class="toolbar-button" ng-click="reduceW()">
      <md-icon md-svg-src="assets/svg/negative-sign.svg" class="toolbar-svg"></md-icon>
   </md-button>
   <md-button class="toolbar-button" ng-click="maxW()">
      <md-icon md-svg-src="assets/svg/add-song.svg" class="toolbar-svg"></md-icon>
   </md-button>
   <md-button class="toolbar-button" ng-click="closeW()">
      <md-icon md-svg-src="assets/svg/cancel-music.svg" class="toolbar-svg"></md-icon>
   </md-button>
</md-toolbar>
<div flex layout="column">
   <div ng-cloak>
        <md-tabs md-dynamic-height md-border-bottom layout="column">
         <md-tab label="Production">
            <div ng-controller="ProdCtrl" layout="column">
               <md-button style="display: none;" ng-click="addTest()">Add</md-button>
               <md-button style="display: none;" ng-click="addMassTest()">Add Mass</md-button>
               <md-toolbar class="table-toolbar">
                  <md-button class="md-icon-button" ng-click="loadStuff()">
                   <md-icon>refresh</md-icon>
                </md-button>
             </md-toolbar>

            <md-content style="max-height: calc(100vh - 180px);">
             <md-table-container>
              <table md-table ng-model="selected" md-progress="promise">
               <thead md-head md-order="query.order">
                <tr md-row>
                 <th md-column md-order-by="desc"><span>Desc</span></th>
                 <th md-column md-order-by="prix"><span>Prix</span></th>
                 <th md-column md-order-by="date_ajout"><span>Date d'ajout</span></th>
                 <th md-column md-order-by="taille"><span>Taille</span></th>
                 <th md-column md-order-by="commande"><span>Commande</span></th>
              </tr>
           </thead>
           <tbody md-body>
             <tr md-row md-select="piece" ng-repeat="piece in pieces.rows | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
              <td md-cell>{{piece.doc.desc}}</td>
              <td md-cell>{{piece.doc.prix}}</td>
              <td md-cell>{{piece.doc.date_ajout}}</td>
              <td md-cell>{{piece.doc.taille}}</td>
              <td md-cell>{{piece.doc.commande}}</td>
           </tr>
        </tbody>
     </table>
  </md-table-container>
   </md-content>
  <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{pieces.total_rows}}" md-boundary-links="true"></md-table-pagination>
</div>

</md-tab>
<md-tab label="Inventaire">
 <md-content class="md-padding">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
</md-content>
</md-tab>
<md-tab label="Vente">
 <md-content class="md-padding">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
</md-content>
</md-tab>
</md-tabs>
</div>

</div>
