<md-toolbar id="custom-toolbar-draggable" layout="row" layout-align="end center">
   <md-button class="toolbar-button" ng-click="reduceW()">
      <md-icon md-svg-src="assets/svg/negative-sign.svg" class="toolbar-svg"></md-icon>
   </md-button>
   <md-button class="toolbar-button" ng-click="maxW()">
      <md-icon md-svg-src="assets/svg/add-song.svg" class="toolbar-svg"></md-icon>
   </md-button>
   <md-button class="toolbar-button" ng-click="closeW()">
      <md-icon md-svg-src="assets/svg/cancel-music.svg" class="toolbar-svg"></md-icon>
   </md-button>
</md-toolbar>
<div flex layout="row">
   <div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Production">
        <md-content class="md-padding">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-content>
      </md-tab>
      <md-tab label="Inventaire">
        <md-content class="md-padding">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-content>
      </md-tab>
      <md-tab label="Vente">
        <md-content class="md-padding">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

</div>
